<!DOCTYPE html>
  <html lang="en">
    <head>
    <title>{{ email_title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="/assets/notifications/styles.css">
  
    <!-- inject-style src="./styles.min.css" -->
  </head>
  
  <body>
    <table class="body">
      <tr>
        <td>
          @@include('./snippets/header.liquid')
    
          <table class="row content">
            <tr>
              <td class="content__cell">
                <center>
                  <table class="container">
                    <tr>
                      <td>
                        {% if payment_terms.type == 'receipt' and payment_terms.next_payment.due_at == nil %}
                          {% assign due_date = 'now' %}
                        {% else %}
                          {% assign due_date = payment_terms.next_payment.due_at | default: nil %}
                        {% endif %}

                        <h2>Payment of {{ order.total_outstanding | money }} is due {{ due_date | date: format: 'date' }}</h2>

                        {% if custom_message != blank %}
                          <p>{{ custom_message }}</p>
                        {% endif %}

                        {% if checkout_payment_collection_url %}
                          <table class="row actions">
                            <tr>
                              <td class="actions__cell">
                                <table class="button main-action-cell">
                                  <tr>
                                    <td class="button__cell"><a href="{{ checkout_payment_collection_url }}" class="button__text">Pay now</a></td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        {% endif %}
                      </td>
                    </tr>
                  </table>
                </center>
              </td>
            </tr>
          </table>
    
          <table class="row section">
            <tr>
              <td class="section__cell">
                <center>
                  <table class="container">
                    <tr>
                      <td>
                        <h3>Order summary</h3>
                      </td>
                    </tr>
                  </table>

                  <table class="container">
                    <tr>
                      <td>
                        <table class="row">
                          {% for line in subtotal_line_items %}
                            @@include('./snippets/order_list_item.liquid')
                          {% endfor %}
                        </table>
    
                        <table class="row subtotal-lines">
                          <tr>
                            <td class="subtotal-spacer"></td>
                            <td>
                              <table class="row subtotal-table">
                                @@include('./snippets/subtotal_table_discount_lines.liquid')

                                @@include('./snippets/subtotal_table_subtotal_line.liquid')

                                @@include('./snippets/subtotal_table_shipping_line.liquid')
    
                
                                <tr class="subtotal-line">
                                  <td class="subtotal-line__title">
                                    <p>
                                      <span>Estimated taxes</span>
                                    </p>
                                  </td>
                                  <td class="subtotal-line__value">
                                    <strong>{{ tax_price | money }}</strong>
                                  </td>
                                </tr>
    
    
                                @@include('./snippets/subtotal_table_tip_line.liquid')
                              </table>
                            </td>
                          </tr>
                        </table>
              
                        <table class="row subtotal-lines">
                          <tr>
                            {% if total_price > total_outstanding %}
                              <td class="subtotal-spacer"></td>
                              <td>
                                <table class="row subtotal-table">
                                  <tr class="subtotal-line">
                                    <td class="subtotal-line__title">
                                      <p>
                                        <span>Updated total</span>
                                      </p>
                                    </td>
                                    <td class="subtotal-line__value">
                                      <strong>{{ total_price | money }}</strong>
                                    </td>
                                  </tr>
                
                                  <tr class="subtotal-line">
                                    <td class="subtotal-line__title">
                                      <p>
                                        <span>Already paid</span>
                                      </p>
                                    </td>
                                    <td class="subtotal-line__value">
                                      <strong>{{ net_payment | money }}</strong>
                                    </td>
                                  </tr>
                
                                </table>

                                <table class="row subtotal-table subtotal-table--total">
                                  <tr class="subtotal-line">
                                    <td class="subtotal-line__title">
                                      <p>
                                        <span>Amount to pay</span>
                                      </p>
                                    </td>
                                    <td class="subtotal-line__value">
                                      <strong>{{ total_outstanding | money }}</strong>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            {% else %}
                              <td>
                                <table class="row subtotal-table subtotal-table--total">
                                  <tr class="subtotal-line">
                                    <td class="subtotal-line__title">
                                      <p>
                                        <span>Amount to pay</span>
                                      </p>
                                    </td>
                                    <td class="subtotal-line__value">
                                      <strong>{{ total_outstanding | money }}</strong>
                                    </td>
                                  </tr>
                                </table>                          
                              </td>
                            {% endif %}
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </center>
              </td>
            </tr>
          </table>
      
          @@include('./snippets/customer_summary.liquid')

          @@include('./snippets/footer.liquid')
        </td>
      </tr>
    </table>
  </body>
  </html>
  